{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Merch picker 3000 {% endblock %}</h1>

<p>
    Tell the robot something
</p>

<form method="post">
    <div class="form-group">
        <input type:="text" name="command" placeholder="Robot Command"
                    class="form-control"
                    value="{{ request.form['command'] }}"></input>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" style="background-color: #ba132f; border-color: #ba132f;" name="action" value="Execute">
        <input type="submit" class="btn btn-primary" style="background-color: #ba132f; border-color: #ba132f;" name="action" value="Reset">
    </div>
</form>

{% endblock %}